@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-size: 18px;
}

header {
    background: url('../images/mobile/image-header.jpg') center/cover no-repeat;
}

@media (min-width:768px) {
    header {
        background: url('../images/desktop/image-header.jpg') center/cover no-repeat;
    }
}

h1,
h2,
h3,
a {
    font-family: 'Fraunces',
        serif;
}

body {
    font-family: 'Barlow',
        sans-serif;
}

.ul-font {
    font-family: 'Barlow',
        sans-serif;
}

.tracking-widest-more {
    letter-spacing: .3rem;
}

.learnmore-btn:hover>div {
    opacity: 1;
}