@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
global css
 */
html {
    font-size: 18px;
}

h1,
h2,
h3,
a {
    font-family: 'Fraunces',
        serif;
}

body {
    font-family: 'Barlow',
        sans-serif;
}

.ul-font {
    font-family: 'Barlow',
        sans-serif;
}

/* custom class */
.tracking-widest-more {
    letter-spacing: .3rem;
}

/* header bg image */
header {
    background: url('../images/mobile/image-header.jpg') center/cover no-repeat;
}

@media (min-width:768px) {
    header {
        background: url('../images/desktop/image-header.jpg') center/cover no-repeat;
    }
}

section {
    max-width: 1440px;
}

/* learn more section 1&2 hover effect */
.learnmore-btn:hover>div {
    opacity: 1;
}

.small-screen {
    clip-path: polygon(0 10%, 93% 10%, 100% 0, 100% 100%, 0 100%);
    transition: transform 250ms, visibility 0s;
    transform: translate(0, -10%);
    visibility: hidden;
}


/* active hidden */
.show-nav {
    transform: translate(0, 2.5rem);
    visibility: visible;
}

.stop-scroll {
    display: 100%;
    overflow: hidden;
}